<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <title>Восстановление пароля</title>
</head>
<body>
    <h3>Восстановление пароля</h3>
    <form method="post" >
        <input type="password" id="pass" name="password" placeholder="Введите новый пароль"/>
        <input type="submit" id="btn" value="Сохранить"/>
    </form>
</body>
<script>
    const value = document.getElementById('pass');
    const btn = document.getElementById('btn');

    btn.onclick = function (e) {
      e.preventDefault()
      const data = {
        password: value.value
      }
        fetch('/restore/{{token}}', {
            method: 'post',
            body: JSON.stringify(data),
            headers: {
                'Content-Type': 'application/json'
            }
        }).then(res => res.json()).then(data => data.redirect ? window.location.href = data.redirectUrl : null)
    }
</script>
</html>
