body
    padding-bottom: 25px

.close
    margin-left: auto

.navbar-nav
    width: 100%

.spinner-grow
    position: absolute
    top: 50%
    left: 0
    right: 0
    margin: 0 auto

.navbar
    margin-bottom: 20px

.task
    flex-direction: row !important
    align-items: baseline !important

    .list-group-item
        width: 100%
        margin-right: 20px


.chat
    margin-top: 20px

.add-text
    margin-left: auto

.chat-group
    display: flex
    justify-content: space-between
    align-items: center
    padding: 15px 0

    input
        margin-left: 5px
